.grid-container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 500px 500px 500px;
    background-color: rgb(75, 75, 75);
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}

.grid-item{
    background-color: black;
    width: 100%;
}
.imgMe{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://static.netnaija.com/i/Aq2NAdYZazJ.jpg);
}


.imgMe2{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://static.netnaija.com/i/yMX7yx9XK83.jpg);
}

.imgMe3{
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://static.netnaija.com/i/G4E7zl9JNb6.jpg);
}

.Limit{
    text-align: center;
    color: brown;
    font-size: 40px;
    margin: 0px;
    margin-top: 10px;

}

.Date{
    color: beige;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}